In [2]:
import psycopg2
import json

In [29]:
connection = psycopg2.connect(
    host="localhost",
    database="50_in_07",
    user="tanyatang")

In [30]:
cursor = connection.cursor()
cursor.execute(
    """
    WITH data AS (SELECT players.first_name
                       , players.last_name
                       , players.current_age
                       , players.height
                       , players.weight
                       , players.primary_position
                       , teams.name AS opposing_team
                       , game_play_players.play_player_type
                       , game_plays.play_num
                       , game_plays.play_type
                       , game_plays.description
                       , game_plays.period_type
                       , game_plays.away_team_goals
                       , game_plays.home_team_goals
                       , game_plays.x_coordinate
                       , game_plays.y_coordinate
                    FROM players
                    JOIN game_play_players
                      ON players.id = game_play_players.player_id
                    JOIN game_plays
                      ON (game_play_players.game_id = game_plays.game_id
                          AND game_play_players.play_num = game_plays.play_num)
                    JOIN games
                      ON game_plays.game_id = games.id
                    JOIN teams
                      ON (games.home_team_id + games.away_team_id - 10) = teams.id)
          SELECT row_to_json(data.*)
            FROM data
    """)
results = cursor.fetchall()
cursor.close()

In [31]:
with open("../../../data/game_play_data.json", "w") as file:
    json.dump(results, file)

In [20]:
cursor = connection.cursor()
cursor.execute(
    """
    WITH data AS (SELECT games.date
                       , games.game_type
                       , game_goalies.shots
                       , game_goalies.saves
                       , game_goalies.power_play_shots_against
                       , game_goalies.power_play_saves
                       , game_goalies.short_handed_shots_against
                       , game_goalies.short_handed_saves
                       , players.first_name
                       , players.last_name
                       , players.current_age
                       , players.height
                       , players.weight
                       , teams.name
                    FROM games 
                    JOIN game_goalies
                      ON games.id = game_goalies.game_id
                    JOIN players
                      ON game_goalies.player_id = players.id
                    JOIN teams
                      ON (games.away_team_id + games.home_team_id - 10) = teams.id
                   WHERE players.id = 8475883)
          SELECT row_to_json(data.*)
            FROM data
    """)
results = cursor.fetchall()
cursor.close()

In [21]:
with open("../../../data/andersen_goalie_data.json", "w") as file:
    json.dump(results, file)

In [22]:
cursor = connection.cursor()
cursor.execute(
    """
    WITH data AS (SELECT games.date
                       , games.game_type
                       , game_details.power_play_strength
                       , game_details.has_shootout
                       , game_players.time_on_ice
                       , game_players.assists
                       , game_players.goals
                       , game_players.shots
                       , game_players.hits
                       , game_players.power_play_assists
                       , game_players.power_play_goals
                       , game_players.penalty_minutes
                       , game_players.faceoffs_won
                       , game_players.faceoffs_taken
                       , game_players.takeaways
                       , game_players.giveaways
                       , game_players.short_handed_assists
                       , game_players.short_handed_goals
                       , game_players.blocked
                       , game_players.plus_minus
                       , game_players.even_time_on_ice
                       , game_players.power_play_time_on_ice
                       , game_players.short_handed_time_on_ice
                       , players.first_name
                       , players.last_name
                       , players.current_age
                       , players.height
                       , players.weight
                    FROM games
                    JOIN game_details
                      ON games.id = game_details.game_id
                    JOIN game_players
                      ON games.id = game_players.game_id
                    JOIN players
                      ON game_players.player_id = players.id)
          SELECT row_to_json(data.*)
            FROM data
    """
)
results = cursor.fetchall()
cursor.close()

In [23]:
with open("../../../data/game_and_game_player_data.json", "w") as file:
    json.dump(results, file)

In [ ]:
connection.close()