# Data preparation

Load data from CSV files and export to database\
CSV files downloaded from https://www.kaggle.com/martinellis/nhl-game-data/

In [1]:
import os
os.environ["JAVA_HOME"] = "/Library/Java/JavaVirtualMachines/jdk1.8.0_231.jdk/Contents/Home/"
os.environ["JRE_HOME"] = "/Library/Java/JavaVirtualMachines/jdk1.8.0_231.jdk/Contents/Home/"
import findspark
findspark.init("/usr/local/Cellar/apache-spark@2.3.2/2.3.2/libexec/")
import pyspark
sc = pyspark.SparkContext()
spark = pyspark.sql.SQLContext(sc)
spark.sql("SET @@global.time_zone='+00:00'")

DataFrame[key: string, value: string]

Individual game information

In [3]:
game_file_path = '../../data/game.csv'
df_raw = spark.read.csv(game_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('game_raw')
spark.sql("""
SELECT * FROM game_raw LIMIT 10
""").show()

root
 |-- game_id: string (nullable = true)
 |-- season: string (nullable = true)
 |-- type: string (nullable = true)
 |-- date_time: string (nullable = true)
 |-- date_time_GMT: string (nullable = true)
 |-- away_team_id: string (nullable = true)
 |-- home_team_id: string (nullable = true)
 |-- away_goals: string (nullable = true)
 |-- home_goals: string (nullable = true)
 |-- outcome: string (nullable = true)
 |-- home_rink_side_start: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- venue_link: string (nullable = true)
 |-- venue_time_zone_id: string (nullable = true)
 |-- venue_time_zone_offset: string (nullable = true)
 |-- venue_time_zone_tz: string (nullable = true)

+----------+--------+----+----------+--------------------+------------+------------+----------+----------+------------+--------------------+------------------+-------------------+-------------------+----------------------+------------------+
|   game_id|  season|type| date_time|       date_time_GMT|away_team_id|home_team_id|away_goals|home_goals|     outcome|home_rink_side_start|             venue|         venue_link| venue_time_zone_id|venue_time_zone_offset|venue_time_zone_tz|
+----------+--------+----+----------+--------------------+------------+------------+----------+----------+------------+--------------------+------------------+-------------------+-------------------+----------------------+------------------+
|2011030221|20112012|   P|2012-04-29|2012-04-29T19:00:00Z|           1|           4|         3|         4| home win OT|               right|Wells Fargo Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030222|20112012|   P|2012-05-01|2012-05-01T23:30:00Z|           1|           4|         4|         1|away win REG|               right|Wells Fargo Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030223|20112012|   P|2012-05-03|2012-05-03T23:30:00Z|           4|           1|         3|         4| home win OT|                left| Prudential Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030224|20112012|   P|2012-05-06|2012-05-06T23:30:00Z|           4|           1|         2|         4|home win REG|                left| Prudential Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030225|20112012|   P|2012-05-08|2012-05-08T23:30:00Z|           1|           4|         3|         1|away win REG|               right|Wells Fargo Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030411|20112012|   P|2012-05-31|2012-05-31T00:00:00Z|          26|           1|         2|         1| away win OT|                left| Prudential Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030412|20112012|   P|2012-06-03|2012-06-03T00:00:00Z|          26|           1|         2|         1| away win OT|                left| Prudential Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
|2011030413|20112012|   P|2012-06-05|2012-06-05T00:00:00Z|           1|          26|         0|         4|home win REG|               right|    Staples Center|/api/v1/venues/null|America/Los_Angeles|                    -7|               PDT|
|2011030414|20112012|   P|2012-06-07|2012-06-07T00:00:00Z|           1|          26|         3|         1|away win REG|               right|    Staples Center|/api/v1/venues/null|America/Los_Angeles|                    -7|               PDT|
|2011030415|20112012|   P|2012-06-10|2012-06-10T00:00:00Z|          26|           1|         1|         2|home win REG|                left| Prudential Center|/api/v1/venues/null|   America/New_York|                    -4|               EDT|
+----------+--------+----+----------+--------------------+------------+------------+----------+----------+------------+--------------------+------------------+-------------------+-------------------+----------------------+------------------+

In [15]:
df = spark.sql("""
SELECT game_id, CAST(season AS int), type, CAST(date_time AS date), CAST(away_team_id AS int), CAST(home_team_id AS int), CAST(away_goals AS int), CAST(home_goals AS int), outcome, home_rink_side_start, venue, venue_time_zone_id, CAST(venue_time_zone_offset AS int)
FROM game_raw
""")
df.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- season: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- date_time: date (nullable = true)
 |-- away_team_id: integer (nullable = true)
 |-- home_team_id: integer (nullable = true)
 |-- away_goals: integer (nullable = true)
 |-- home_goals: integer (nullable = true)
 |-- outcome: string (nullable = true)
 |-- home_rink_side_start: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- venue_time_zone_id: string (nullable = true)
 |-- venue_time_zone_offset: integer (nullable = true)

In [14]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='game',
    user='root').mode('overwrite').save()

Goalie information

In [17]:
goalie_file_path = '../../data/game_goalie_stats.csv'
df_raw = spark.read.csv(goalie_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('goalie_raw')
spark.sql("""
SELECT * FROM goalie_raw LIMIT 10
""").show()

root
 |-- game_id: string (nullable = true)
 |-- player_id: string (nullable = true)
 |-- team_id: string (nullable = true)
 |-- timeOnIce: string (nullable = true)
 |-- assists: string (nullable = true)
 |-- goals: string (nullable = true)
 |-- pim: string (nullable = true)
 |-- shots: string (nullable = true)
 |-- saves: string (nullable = true)
 |-- powerPlaySaves: string (nullable = true)
 |-- shortHandedSaves: string (nullable = true)
 |-- evenSaves: string (nullable = true)
 |-- shortHandedShotsAgainst: string (nullable = true)
 |-- evenShotsAgainst: string (nullable = true)
 |-- powerPlayShotsAgainst: string (nullable = true)
 |-- decision: string (nullable = true)
 |-- savePercentage: string (nullable = true)
 |-- powerPlaySavePercentage: string (nullable = true)
 |-- evenStrengthSavePercentage: string (nullable = true)

+----------+---------+-------+---------+-------+-----+---+-----+-----+--------------+----------------+---------+-----------------------+----------------+---------------------+--------+----------------+-----------------------+--------------------------+
|   game_id|player_id|team_id|timeOnIce|assists|goals|pim|shots|saves|powerPlaySaves|shortHandedSaves|evenSaves|shortHandedShotsAgainst|evenShotsAgainst|powerPlayShotsAgainst|decision|  savePercentage|powerPlaySavePercentage|evenStrengthSavePercentage|
+----------+---------+-------+---------+-------+-----+---+-----+-----+--------------+----------------+---------+-----------------------+----------------+---------------------+--------+----------------+-----------------------+--------------------------+
|2011030221|  8455710|      1|     3876|      0|    0|  0|   36|   32|             7|               0|       25|                      0|              28|                    8|       L|88.8888888888889|                   87.5|          89.2857142857143|
|2011030221|  8468524|      4|     3876|      0|    0|  0|   26|   23|             4|               5|       14|                      5|              16|                    5|       W|88.4615384615385|                     80|                      87.5|
|2011030222|  8455710|      1|     3599|      0|    0|  0|   20|   19|             1|               3|       15|                      3|              16|                    1|       W|              95|                    100|                     93.75|
|2011030222|  8468524|      4|     3559|      0|    0|  0|   34|   31|             6|               0|       25|                      0|              28|                    6|       L|91.1764705882353|                    100|          89.2857142857143|
|2011030223|  8468524|      4|     4623|      0|    0|  0|   31|   27|             1|               1|       25|                      1|              28|                    2|       L|87.0967741935484|                     50|          89.2857142857143|
|2011030223|  8455710|      1|     4641|      0|    0|  0|   28|   25|             4|               0|       21|                      0|              23|                    5|       W|89.2857142857143|                     80|           91.304347826087|
|2011030224|  8468524|      4|     3555|      0|    0|  0|   42|   39|             6|               0|       33|                      0|              35|                    7|       L|92.8571428571429|       85.7142857142857|          94.2857142857143|
|2011030224|  8455710|      1|     3600|      1|    0|  0|   22|   20|             1|               1|       18|                      2|              18|                    2|       W|90.9090909090909|                     50|                       100|
|2011030225|  8455710|      1|     3600|      0|    0|  0|   28|   27|             0|               3|       24|                      3|              25|                    0|       W|96.4285714285714|                     NA|                        96|
|2011030225|  8468524|      4|     3452|      0|    0|  0|   30|   27|             2|               1|       24|                      1|              26|                    3|       L|              90|       66.6666666666667|          92.3076923076923|
+----------+---------+-------+---------+-------+-----+---+-----+-----+--------------+----------------+---------+-----------------------+----------------+---------------------+--------+----------------+-----------------------+--------------------------+

In [18]:
df = spark.sql("""
SELECT game_id, CAST(player_id AS int), CAST(team_id AS int), CAST(timeOnIce AS int), CAST(assists AS int), CAST(goals AS int), CAST(pim AS int), CAST(shots AS int), CAST(saves AS int), CAST(powerPlaySaves AS int), CAST(shortHandedSaves AS int), CAST(evenSaves AS int), CAST(shortHandedShotsAgainst AS int), CAST(evenShotsAgainst AS int), CAST(powerPlayShotsAgainst AS int), decision, CAST(savePercentage AS float), CAST(powerPlaySavePercentage AS float), CAST(evenStrengthSavePercentage AS float)
FROM goalie_raw
""")
df.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- team_id: integer (nullable = true)
 |-- timeOnIce: integer (nullable = true)
 |-- assists: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- pim: integer (nullable = true)
 |-- shots: integer (nullable = true)
 |-- saves: integer (nullable = true)
 |-- powerPlaySaves: integer (nullable = true)
 |-- shortHandedSaves: integer (nullable = true)
 |-- evenSaves: integer (nullable = true)
 |-- shortHandedShotsAgainst: integer (nullable = true)
 |-- evenShotsAgainst: integer (nullable = true)
 |-- powerPlayShotsAgainst: integer (nullable = true)
 |-- decision: string (nullable = true)
 |-- savePercentage: float (nullable = true)
 |-- powerPlaySavePercentage: float (nullable = true)
 |-- evenStrengthSavePercentage: float (nullable = true)

In [19]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='goalie',
    user='root').mode('overwrite').save()

Skater information

In [23]:
skater_file_path = '../../data/game_skater_stats.csv'
df_raw = spark.read.csv(skater_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('skater_raw')
spark.sql("""
SELECT * FROM skater_raw LIMIT 10
""").show()

root
 |-- game_id: string (nullable = true)
 |-- player_id: string (nullable = true)
 |-- team_id: string (nullable = true)
 |-- timeOnIce: string (nullable = true)
 |-- assists: string (nullable = true)
 |-- goals: string (nullable = true)
 |-- shots: string (nullable = true)
 |-- hits: string (nullable = true)
 |-- powerPlayGoals: string (nullable = true)
 |-- powerPlayAssists: string (nullable = true)
 |-- penaltyMinutes: string (nullable = true)
 |-- faceOffWins: string (nullable = true)
 |-- faceoffTaken: string (nullable = true)
 |-- takeaways: string (nullable = true)
 |-- giveaways: string (nullable = true)
 |-- shortHandedGoals: string (nullable = true)
 |-- shortHandedAssists: string (nullable = true)
 |-- blocked: string (nullable = true)
 |-- plusMinus: string (nullable = true)
 |-- evenTimeOnIce: string (nullable = true)
 |-- shortHandedTimeOnIce: string (nullable = true)
 |-- powerPlayTimeOnIce: string (nullable = true)

+----------+---------+-------+---------+-------+-----+-----+----+--------------+----------------+--------------+-----------+------------+---------+---------+----------------+------------------+-------+---------+-------------+--------------------+------------------+
|   game_id|player_id|team_id|timeOnIce|assists|goals|shots|hits|powerPlayGoals|powerPlayAssists|penaltyMinutes|faceOffWins|faceoffTaken|takeaways|giveaways|shortHandedGoals|shortHandedAssists|blocked|plusMinus|evenTimeOnIce|shortHandedTimeOnIce|powerPlayTimeOnIce|
+----------+---------+-------+---------+-------+-----+-----+----+--------------+----------------+--------------+-----------+------------+---------+---------+----------------+------------------+-------+---------+-------------+--------------------+------------------+
|2011030221|  8467412|      1|      999|      0|    0|    1|   3|             0|               0|             0|          0|           0|        0|        0|               0|                 0|      0|       -1|          885|                  98|                16|
|2011030221|  8468501|      1|     1168|      0|    0|    0|   4|             0|               0|             0|          0|           0|        1|        1|               0|                 0|      1|        0|          767|                 401|                 0|
|2011030221|  8470609|      1|      558|      0|    0|    2|   1|             0|               0|             0|          0|           2|        0|        0|               0|                 0|      1|       -1|          542|                   0|                16|
|2011030221|  8471816|      1|     1134|      0|    0|    1|   4|             0|               0|             0|          0|           0|        1|        0|               0|                 0|      1|       -1|          935|                 183|                16|
|2011030221|  8472410|      1|      436|      0|    0|    1|   3|             0|               0|             0|          3|           6|        0|        0|               0|                 0|      0|       -1|          436|                   0|                 0|
|2011030221|  8471233|      1|     1344|      0|    1|    4|   0|             1|               0|             0|         13|          21|        0|        1|               0|                 0|      1|       -1|          949|                 239|               156|
|2011030221|  8470920|      1|      837|      1|    0|    2|   5|             0|               0|             0|          1|           2|        1|        0|               0|                 0|      2|        1|          756|                   0|                81|
|2011030221|  8473646|      1|      465|      0|    0|    2|   3|             0|               0|             0|          1|           1|        0|        0|               0|                 0|      0|       -1|          465|                   0|                 0|
|2011030221|  8470610|      1|     1327|      1|    1|    3|   3|             0|               1|             0|          0|           0|        1|        0|               0|                 0|      2|        0|          903|                 268|               156|
|2011030221|  8472382|      1|     1324|      0|    0|    1|   0|             0|               0|             2|          0|           0|        0|        0|               0|                 0|      1|       -2|         1085|                 220|                19|
+----------+---------+-------+---------+-------+-----+-----+----+--------------+----------------+--------------+-----------+------------+---------+---------+----------------+------------------+-------+---------+-------------+--------------------+------------------+

In [26]:
df = spark.sql("""
SELECT game_id, CAST(player_id AS int), CAST(team_id AS int), CAST(timeOnIce AS int), CAST(assists AS int), CAST(goals AS int), CAST(shots AS int), CAST(hits AS int), CAST(powerPlayGoals AS int), CAST(powerPlayAssists AS int), CAST(penaltyMinutes AS int), CAST(faceOffWins AS int), CAST(faceoffTaken AS int) AS faceOffTaken, CAST(takeaways AS int), CAST(giveaways AS int), CAST(shortHandedGoals AS int), CAST(shortHandedAssists AS int), CAST(blocked AS int), CAST(plusMinus AS int), CAST(evenTimeOnIce AS int), CAST(shortHandedTimeOnIce AS int), CAST(powerPlayTimeOnIce AS int)
FROM skater_raw
""")
df.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- team_id: integer (nullable = true)
 |-- timeOnIce: integer (nullable = true)
 |-- assists: integer (nullable = true)
 |-- goals: integer (nullable = true)
 |-- shots: integer (nullable = true)
 |-- hits: integer (nullable = true)
 |-- powerPlayGoals: integer (nullable = true)
 |-- powerPlayAssists: integer (nullable = true)
 |-- penaltyMinutes: integer (nullable = true)
 |-- faceOffWins: integer (nullable = true)
 |-- faceOffTaken: integer (nullable = true)
 |-- takeaways: integer (nullable = true)
 |-- giveaways: integer (nullable = true)
 |-- shortHandedGoals: integer (nullable = true)
 |-- shortHandedAssists: integer (nullable = true)
 |-- blocked: integer (nullable = true)
 |-- plusMinus: integer (nullable = true)
 |-- evenTimeOnIce: integer (nullable = true)
 |-- shortHandedTimeOnIce: integer (nullable = true)
 |-- powerPlayTimeOnIce: integer (nullable = true)

In [25]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='skater',
    user='root').mode('overwrite').save()

Team information

In [29]:
teams_file_path = '../../data/game_teams_stats.csv'
df_raw = spark.read.csv(teams_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('teams_raw')
spark.sql("""
SELECT * FROM teams_raw LIMIT 10
""").show()

root
 |-- game_id: string (nullable = true)
 |-- team_id: string (nullable = true)
 |-- HoA: string (nullable = true)
 |-- won: string (nullable = true)
 |-- settled_in: string (nullable = true)
 |-- head_coach: string (nullable = true)
 |-- goals: string (nullable = true)
 |-- shots: string (nullable = true)
 |-- hits: string (nullable = true)
 |-- pim: string (nullable = true)
 |-- powerPlayOpportunities: string (nullable = true)
 |-- powerPlayGoals: string (nullable = true)
 |-- faceOffWinPercentage: string (nullable = true)
 |-- giveaways: string (nullable = true)
 |-- takeaways: string (nullable = true)

+----------+-------+----+-----+----------+----------------+-----+-----+----+---+----------------------+--------------+--------------------+---------+---------+
|   game_id|team_id| HoA|  won|settled_in|      head_coach|goals|shots|hits|pim|powerPlayOpportunities|powerPlayGoals|faceOffWinPercentage|giveaways|takeaways|
+----------+-------+----+-----+----------+----------------+-----+-----+----+---+----------------------+--------------+--------------------+---------+---------+
|2011030221|      1|away|FALSE|        OT|    Peter DeBoer|    3|   26|  31| 12|                     3|             1|                44.9|        6|        7|
|2011030221|      4|home| TRUE|        OT|Peter Laviolette|    4|   36|  27|  6|                     6|             1|                55.1|       13|        4|
|2011030222|      1|away| TRUE|       REG|    Peter DeBoer|    4|   35|  32| 12|                     4|             0|                50.9|        8|        7|
|2011030222|      4|home|FALSE|       REG|Peter Laviolette|    1|   20|  24| 32|                     5|             0|                49.1|        9|        6|
|2011030223|      4|away|FALSE|        OT|Peter Laviolette|    3|   28|  28|  4|                     5|             1|                50.8|        2|        1|
|2011030223|      1|home| TRUE|        OT|    Peter DeBoer|    4|   31|  30| 10|                     2|             1|                49.2|       11|        4|
|2011030224|      4|away|FALSE|       REG|Peter Laviolette|    2|   22|  23| 10|                     2|             1|                62.5|       20|        5|
|2011030224|      1|home| TRUE|       REG|    Peter DeBoer|    4|   43|  19|  4|                     5|             1|                37.5|        5|        3|
|2011030225|      1|away| TRUE|       REG|    Peter DeBoer|    3|   30|  26|  2|                     4|             1|                  55|        6|        5|
|2011030225|      4|home|FALSE|       REG|Peter Laviolette|    1|   28|  38|  8|                     1|             0|                  45|       14|        7|
+----------+-------+----+-----+----------+----------------+-----+-----+----+---+----------------------+--------------+--------------------+---------+---------+

In [30]:
df = spark.sql("""
SELECT game_id, CAST(team_id AS int), HoA, won, settled_in, head_coach, CAST(goals AS int), CAST(shots AS int), CAST(hits AS int), CAST(pim AS int), CAST(powerPlayOpportunities AS int), CAST(powerPlayGoals AS int), CAST(faceOffWinPercentage AS float), CAST(giveaways AS int), CAST(takeaways AS int)
FROM teams_raw
""")
df.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- team_id: integer (nullable = true)
 |-- HoA: string (nullable = true)
 |-- won: string (nullable = true)
 |-- settled_in: string (nullable = true)
 |-- head_coach: string (nullable = true)
 |-- goals: integer (nullable = true)
 |-- shots: integer (nullable = true)
 |-- hits: integer (nullable = true)
 |-- pim: integer (nullable = true)
 |-- powerPlayOpportunities: integer (nullable = true)
 |-- powerPlayGoals: integer (nullable = true)
 |-- faceOffWinPercentage: float (nullable = true)
 |-- giveaways: integer (nullable = true)
 |-- takeaways: integer (nullable = true)

In [31]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='teams',
    user='root').mode('overwrite').save()

Individual player information

In [32]:
player_info_file_path = '../../data/player_info.csv'
df_raw = spark.read.csv(player_info_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('player_info_raw')
spark.sql("""
SELECT * FROM player_info_raw LIMIT 10
""").show()

root
 |-- player_id: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- birthCity: string (nullable = true)
 |-- primaryPosition: string (nullable = true)
 |-- birthDate: string (nullable = true)
 |-- link: string (nullable = true)

+---------+---------+------------+-----------+-----------+---------------+----------+--------------------+
|player_id|firstName|    lastName|nationality|  birthCity|primaryPosition| birthDate|                link|
+---------+---------+------------+-----------+-----------+---------------+----------+--------------------+
|  8467412|   Alexei|Ponikarovsky|        UKR|       Kiev|             LW|1980-04-09|/api/v1/people/84...|
|  8468501|    Anton|  Volchenkov|        RUS|     Moscow|              D|1982-02-25|/api/v1/people/84...|
|  8459670|    Kimmo|     Timonen|        FIN|     Kuopio|              D|1975-03-18|/api/v1/people/84...|
|  8471233|   Travis|       Zajac|        CAN|   Winnipeg|              C|1985-05-13|/api/v1/people/84...|
|  8455710|   Martin|     Brodeur|        CAN|   Montreal|              G|1972-05-06|/api/v1/people/84...|
|  8475640|     Erik|  Gustafsson|        SWE|  Kvissleby|              D|1988-12-15|/api/v1/people/84...|
|  8476177|     Matt|        Read|        CAN|   Ilderton|             RW|1986-06-14|/api/v1/people/84...|
|  8464977|  Dainius|      Zubrus|        LTU| Elektrenai|              C|1978-06-16|/api/v1/people/84...|
|  8474190|    Wayne|    Simmonds|        CAN|Scarborough|             RW|1988-08-26|/api/v1/people/84...|
|  8464975|   Daniel|      Briere|        CAN|   Gatineau|              C|1977-10-06|/api/v1/people/84...|
+---------+---------+------------+-----------+-----------+---------------+----------+--------------------+

In [33]:
df = spark.sql("""
SELECT CAST(player_id AS int), firstName, lastName, nationality, birthCity, primaryPosition, CAST(birthDate AS date), link
FROM player_info_raw
""")
df.printSchema()

root
 |-- player_id: integer (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- nationality: string (nullable = true)
 |-- birthCity: string (nullable = true)
 |-- primaryPosition: string (nullable = true)
 |-- birthDate: date (nullable = true)
 |-- link: string (nullable = true)

In [34]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='player_info',
    user='root').mode('overwrite').save()

In [35]:
team_info_file_path = '../../data/team_info.csv'
df_raw = spark.read.csv(team_info_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('team_info_raw')
spark.sql("""
SELECT * FROM team_info_raw LIMIT 10
""").show()

root
 |-- team_id: string (nullable = true)
 |-- franchiseId: string (nullable = true)
 |-- shortName: string (nullable = true)
 |-- teamName: string (nullable = true)
 |-- abbreviation: string (nullable = true)
 |-- link: string (nullable = true)

+-------+-----------+------------+---------+------------+----------------+
|team_id|franchiseId|   shortName| teamName|abbreviation|            link|
+-------+-----------+------------+---------+------------+----------------+
|      1|         23|  New Jersey|   Devils|         NJD| /api/v1/teams/1|
|      4|         16|Philadelphia|   Flyers|         PHI| /api/v1/teams/4|
|     26|         14| Los Angeles|    Kings|         LAK|/api/v1/teams/26|
|     14|         31|   Tampa Bay|Lightning|         TBL|/api/v1/teams/14|
|      6|          6|      Boston|   Bruins|         BOS| /api/v1/teams/6|
|      3|         10|  NY Rangers|  Rangers|         NYR| /api/v1/teams/3|
|      5|         17|  Pittsburgh| Penguins|         PIT| /api/v1/teams/5|
|     17|         12|     Detroit|Red Wings|         DET|/api/v1/teams/17|
|     28|         29|    San Jose|   Sharks|         SJS|/api/v1/teams/28|
|     18|         34|   Nashville|Predators|         NSH|/api/v1/teams/18|
+-------+-----------+------------+---------+------------+----------------+

In [36]:
df = spark.sql("""
SELECT CAST(team_id AS int), CAST(franchiseID AS int), shortName, teamName, abbreviation, link
FROM team_info_raw
""")
df.printSchema()

root
 |-- team_id: integer (nullable = true)
 |-- franchiseID: integer (nullable = true)
 |-- shortName: string (nullable = true)
 |-- teamName: string (nullable = true)
 |-- abbreviation: string (nullable = true)
 |-- link: string (nullable = true)

In [37]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='team_info',
    user='root').mode('overwrite').save()

Play information

In [38]:
plays_file_path = '../../data/game_plays.csv'
df_raw = spark.read.csv(plays_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('plays_raw')
spark.sql("""
SELECT * FROM plays_raw LIMIT 10
""").show()

root
 |-- play_id: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- play_num: string (nullable = true)
 |-- team_id_for: string (nullable = true)
 |-- team_id_against: string (nullable = true)
 |-- event: string (nullable = true)
 |-- secondaryType: string (nullable = true)
 |-- x: string (nullable = true)
 |-- y: string (nullable = true)
 |-- period: string (nullable = true)
 |-- periodType: string (nullable = true)
 |-- periodTime: string (nullable = true)
 |-- periodTimeRemaining: string (nullable = true)
 |-- dateTime: string (nullable = true)
 |-- goals_away: string (nullable = true)
 |-- goals_home: string (nullable = true)
 |-- description: string (nullable = true)
 |-- st_x: string (nullable = true)
 |-- st_y: string (nullable = true)
 |-- rink_side: string (nullable = true)

+-------------+----------+--------+-----------+---------------+--------------+-------------+---+---+------+----------+----------+-------------------+-------------------+----------+----------+--------------------+----+----+---------+
|      play_id|   game_id|play_num|team_id_for|team_id_against|         event|secondaryType|  x|  y|period|periodType|periodTime|periodTimeRemaining|           dateTime|goals_away|goals_home|         description|st_x|st_y|rink_side|
+-------------+----------+--------+-----------+---------------+--------------+-------------+---+---+------+----------+----------+-------------------+-------------------+----------+----------+--------------------+----+----+---------+
| 2011030221_1|2011030221|       1|         NA|             NA|Game Scheduled|           NA| NA| NA|     1|   REGULAR|         0|               1200|2012-04-29 18:16:06|         0|         0|      Game Scheduled|  NA|  NA|       NA|
| 2011030221_2|2011030221|       2|         NA|             NA|  Period Ready|           NA| NA| NA|     1|   REGULAR|         0|               1200|2012-04-29 19:19:49|         0|         0|        Period Ready|  NA|  NA|       NA|
| 2011030221_3|2011030221|       3|         NA|             NA|  Period Start|           NA| NA| NA|     1|   REGULAR|         0|               1200|2012-04-29 19:20:13|         0|         0|        Period Start|  NA|  NA|       NA|
| 2011030221_4|2011030221|       4|          4|              1|       Faceoff|           NA|  0|  0|     1|   REGULAR|         0|               1200|2012-04-29 19:20:13|         0|         0|Sean Couturier fa...|   0|   0|    right|
| 2011030221_5|2011030221|       5|          4|              1|      Giveaway|           NA| 28| 24|     1|   REGULAR|        21|               1179|2012-04-29 19:21:02|         0|         0|Giveaway by Kimmo...| -28| -24|    right|
| 2011030221_6|2011030221|       6|          4|              1|  Blocked Shot|           NA| 52| 28|     1|   REGULAR|        26|               1174|2012-04-29 19:21:07|         0|         0|Max Talbot blocke...| -52| -28|    right|
| 2011030221_7|2011030221|       7|          1|              4|          Shot|   Wrist Shot| 80| -3|     1|   REGULAR|        30|               1170|2012-04-29 19:21:12|         0|         0|Patrik Elias Wris...|  80|  -3|     left|
| 2011030221_8|2011030221|       8|          1|              4|           Hit|           NA|-30|-38|     1|   REGULAR|        60|               1140|2012-04-29 19:21:40|         0|         0|Marek Zidlicky hi...| -30| -38|     left|
| 2011030221_9|2011030221|       9|          4|              1|      Giveaway|           NA|-60| 39|     1|   REGULAR|        94|               1106|2012-04-29 19:22:14|         0|         0|Giveaway by Scott...|  60| -39|    right|
|2011030221_10|2011030221|      10|         NA|             NA|      Stoppage|           NA| NA| NA|     1|   REGULAR|       118|               1082|2012-04-29 19:22:42|         0|         0|     Puck in Benches|  NA|  NA|       NA|
+-------------+----------+--------+-----------+---------------+--------------+-------------+---+---+------+----------+----------+-------------------+-------------------+----------+----------+--------------------+----+----+---------+

In [73]:
df = spark.sql("""
SELECT play_id, game_id, CAST(play_num AS int), CAST(team_id_for AS int), CAST(team_id_against AS int), event, secondaryType, CAST(x AS int), CAST(y AS int), CAST(period AS int), periodType, CAST(periodTime AS int), CAST(periodTimeRemaining AS int), CAST(dateTime AS timestamp), CAST(goals_away AS int), CAST(goals_home AS int), description, rink_side
FROM plays_raw
""")
df.printSchema()

root
 |-- play_id: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- play_num: integer (nullable = true)
 |-- team_id_for: integer (nullable = true)
 |-- team_id_against: integer (nullable = true)
 |-- event: string (nullable = true)
 |-- secondaryType: string (nullable = true)
 |-- x: integer (nullable = true)
 |-- y: integer (nullable = true)
 |-- period: integer (nullable = true)
 |-- periodType: string (nullable = true)
 |-- periodTime: integer (nullable = true)
 |-- periodTimeRemaining: integer (nullable = true)
 |-- dateTime: timestamp (nullable = true)
 |-- goals_away: integer (nullable = true)
 |-- goals_home: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- rink_side: string (nullable = true)

In [74]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='plays',
    user='root').mode('overwrite').save()

Plays by player information

In [5]:
player_plays_file_path = '../../data/game_plays_players.csv'
df_raw = spark.read.csv(player_plays_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('player_plays_raw')
spark.sql("""
SELECT * FROM player_plays_raw LIMIT 10
""").show()

root
 |-- play_id: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- play_num: string (nullable = true)
 |-- player_id: string (nullable = true)
 |-- playerType: string (nullable = true)

+------------+----------+--------+---------+----------+
|     play_id|   game_id|play_num|player_id|playerType|
+------------+----------+--------+---------+----------+
|2011030221_4|2011030221|       4|  8476461|    Winner|
|2011030221_4|2011030221|       4|  8460542|     Loser|
|2011030221_5|2011030221|       5|  8459670|  PlayerID|
|2011030221_6|2011030221|       6|  8470171|   Blocker|
|2011030221_6|2011030221|       6|  8460542|   Shooter|
|2011030221_7|2011030221|       7|  8460542|   Shooter|
|2011030221_7|2011030221|       7|  8468524|    Goalie|
|2011030221_8|2011030221|       8|  8469623|    Hitter|
|2011030221_8|2011030221|       8|  8448208|    Hittee|
|2011030221_9|2011030221|       9|  8468486|  PlayerID|
+------------+----------+--------+---------+----------+

In [7]:
df = spark.sql("""
SELECT play_id, game_id, CAST(play_num AS int), CAST(player_id AS int), playerType
FROM player_plays_raw
""")
df.printSchema()

root
 |-- play_id: string (nullable = true)
 |-- game_id: string (nullable = true)
 |-- play_num: integer (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- playerType: string (nullable = true)

In [8]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='player_plays',
    user='root').mode('overwrite').save()

Shifts information

In [9]:
shifts_file_path = '../../data/game_shifts.csv'
df_raw = spark.read.csv(shifts_file_path, 
                        header=True, 
                        mode="DROPMALFORMED")
df_raw.printSchema()
df_raw.createOrReplaceTempView('shifts_raw')
spark.sql("""
SELECT * FROM shifts_raw LIMIT 10
""").show()

root
 |-- game_id: string (nullable = true)
 |-- player_id: string (nullable = true)
 |-- period: string (nullable = true)
 |-- shift_start: string (nullable = true)
 |-- shift_end: string (nullable = true)

+----------+---------+------+-----------+---------+
|   game_id|player_id|period|shift_start|shift_end|
+----------+---------+------+-----------+---------+
|2016030161|  8477964|     3|       2729|     2730|
|2016030161|  8475768|     3|       2729|     2730|
|2016030161|  8474125|     2|       1772|     1773|
|2016030161|  8470595|     4|       4212|     4214|
|2016030161|  8474618|     1|        614|      616|
|2016030161|  8470803|     2|       1819|     1821|
|2016030161|  8474716|     4|       3749|     3752|
|2016030161|  8475799|     4|       3749|     3752|
|2016030161|  8470600|     4|       3749|     3752|
|2016030161|  8470610|     4|       3749|     3752|
+----------+---------+------+-----------+---------+

In [10]:
df = spark.sql("""
SELECT game_id, CAST(player_id AS int), CAST(period AS int), CAST(shift_start AS int), CAST(shift_end AS int)
FROM shifts_raw
""")
df.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- player_id: integer (nullable = true)
 |-- period: integer (nullable = true)
 |-- shift_start: integer (nullable = true)
 |-- shift_end: integer (nullable = true)

In [11]:
df.write.format('jdbc').options(
    url='jdbc:mysql://localhost/50_in_07',
    driver='com.mysql.jdbc.Driver',
    dbtable='shifts',
    user='root').mode('overwrite').save()